body{
    margin: 0;
    padding: 0;

    background-color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5em;
    text-align: justify;
    color: #333;
}

h1, h2, h3, p, span{
    margin: 0;
    padding: 0;
}

a{
	color: #333;
	text-decoration: none;
}

.bold{
    font-weight: bold;
}

.paddingTop20{
    padding-top: 20px;
}

/*CONTENT*/

#logo{
    justify-content: flex-end;
    align-items: center;
    height: 110px;
}

#logo img{
    width: 250px;
}

#img_slide_presentacion{
    display: block;
}

#img_slide_presentacion_mvl{
    display: none;
}

#txtPresentacion{
    justify-content: center;
    align-items: center;
}

#txtPresentacion img{
    width:60px;
}

#txtPresentacion h1{
    font-size: 45px;
    padding-bottom: 20px;
}

#frasePresentacion{
    flex-basis: 30%;
    font-size: 25px;
}

#contactoPresentacion{
    font-size: 20px;
}

.typewrite > .wrap { border-right: 0.08em solid #800080;}

.resaltado {
    background: url('highlight.png') no-repeat left;
    background-size: 100%;
    padding: 25 0.5rem;
    width: 210px;
    margin-top: 20px;
}

#misProyectos{
    font-size: 35px;
    justify-content: center;
    margin-top: 100px;
}

#container{
    width:1140px;
    margin: 0 auto;
}

#imgs_portfolio{
    margin-top: 50px;
    background-color: white;
}

#imgs_portfolio section{
    margin-bottom: 50px;
}

#imgs_portfolio .column .row{
    justify-content: center;
    text-align: center;
}

#imgs_portfolio .column span{
    padding-top: 30px;
}

.verWeb{
    margin-left: 237px;
}

.verWeb p{
    border-bottom: 2px solid #800080;
    text-align: center;
    width: 100px;
}

.verWeb p a{
    font-weight: 100;
    font-size: 14px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}


/*PIE*/

#pie{
    padding-top: 70px;
    padding-left: 100px;
    padding-bottom: 30px;
    background-color: #fedeff;
}

#pie .imagesDesignedBy {
    width: 150px;
    float: left;
    margin: 0 auto;
}

/*IMG*/

img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

/*FLEX*/

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.rows{
    display: flex;
    flex-direction: column;
}

.rowRedesSociales{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.columns{
    display: flex;
}

.column{
    align-items: center;
    flex: 1;
}

.flex50{
    flex: 0 1 50%;
}

/*UP BUTON*/

.ir-arriba {
	display:none;
	padding:20px;
	background:#888;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
    border-radius: 10px;
}


.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }

  /*ANCHOR*/

 /* unvisited link */
 #pie a:link,  
  /* visited link */
  #pie a:visited,  
  /* mouse over link */
  #pie a:hover, 
  /* selected link */
  #pie a:active {
	color: 666;
	font-weight: 700;
  }

  .verWeb p a:link, .verWeb p a:visited, .verWeb p a:hover, .verWeb p a:active{    
    font-weight: 100;
  }

  /*ZOOM*/

  .zoom{
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }

  .zoom img{
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }

  .zoom img:hover{-webkit-transform: scale(1.3);
	transform: scale(1.3);  
    }

  .guionBeforeAfter::before, .guionBeforeAfter::after{
    content: '-';
  }


  @media screen and (max-width: 800px){

    #logo{
        margin-bottom: 50px;
    }

    .row{
        flex-direction: column;
    }

    .columns{
        flex-direction: column;
        align-items: center;
    }

    #slide_presentacion{
        padding: 0;
        width: auto;
        max-width: 100%;
    }

    
    #img_slide_presentacion{
        display: none;
    }

    #img_slide_presentacion_mvl{
        display: block;
    }

    #pie{
        padding-top: 90px;
        padding-left: 30px;
        padding-bottom: 100px;
        padding-right: 30px;
    }

    #pie span{
        padding: 0;
    }

    #txtPresentacion{
        padding-left: 20px;
        padding-top: 20px;
        padding-right: 20px;
    }

    #txtPresentacion h1{
        font-size: 35px;
        line-height: 35px;

    }


    #imgs_portfolio .column .row{
        flex-direction: column;
    }

    #imgs_portfolio .column .row span{
        padding-left: 10px;
    }

    #imgs_portfolio .column{
        margin-bottom: 80px;
    }

    #container{
        width: 100%;
    }

    #frasePresentacion{
        text-align: start;
        padding-bottom: 30px;
    }

    #misProyectos{
        margin-left: 20px;
    }

    
    .verWeb {
        margin-left: 107px;
        margin-top: 20px;
    }

}
